*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 5px;
    
    width: 100%;
    overflow-x: hidden;
}
.head-container{
    margin: 0;
    width: 100%;
    height: 120px;
    border-bottom:  solid rgb(245, 242, 242) ;
    border-left: 0;
    
}  
.head-container img{
    position: relative;
    left: 40px;
}
#opt-1{
   position: relative;
   left: 175px;
   bottom: 100px;
   border: none;
}

nav a{
position: relative;
left: 180px;
bottom: 100px;
margin-right: 50px;
font-size: 14px;
line-height: 24px;
font-family: sans-serif;

    
   
}
#search-icon{
    position: relative;
    left: 186px;
    bottom: 95px;
}
.fa-solid{
    position: relative;
    left: 180px;
    bottom: 98px;
}
#base-one {
    position: relative;
    left: 650px;
    bottom: 25px;
    font-family: sans-serif;
}
#two{
    text-decoration: underline;
    color: blue; 
}

#base-one button{
    position: relative;
    left: 190px;
    bottom: 100px;
    background-color: rgb(254, 186, 58);
    border: none;
    padding: 10px;
    align-items: center;
    
}
#opt-2{
    position: relative;
   left: 172px;
   bottom: 102px;
   border: none;
}
#base-two{
    font-family: sans-serif;
    /*position: relative;*/
   left: 0px;
   bottom: 0px;
    
}
.section-container{
    
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.image-1{
    width: 760px;
    margin-left: 10px;
    margin-top: 70px;
}
.container-1{
    width: 50%;
    height: 300px;

    
}
#font-1{
    
    margin-left: 180px;
    margin-top: 70px;
    
    font-size: 20px;
    height: 200px;
    font-size:40px;
    font-weight: 700;

}
#font-2{
    margin-left: 180px;
    margin-top: -70px;
    height: 200px;
    font-size:20px;
    font-weight: 50;
}
#font-3{
    margin-left: 200px;
    margin-top: -90px;
    font-size: 10px;
    position: relative;
    left: -20px;
}
#button-2{
    margin-left: 180px;
    margin-top: 50px; 
    background-color: rgb(254, 186, 58);
    border: none;
    padding: 15px;
    align-items: center;

}
.section-container-2{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-2{
    width: 50%;
    height: 300px;
}
.image-2{
    width: 760px;
    margin-left: 40px;
    margin-top: 70px;
    

}
.container-2{
    width: 50%;
    height: 300px;
}
#strong-2{
    color: rgb(32, 114, 186);
    text-decoration: underline;
}
#font-4{
    margin-top: 80px;
    margin-left: 10px;
    font-size: 20px;
    height: 200px;
    font-size:40px;
    font-weight: 700;

}
#font-5{
    margin-left: 10px;
    margin-top: -60px;
    height: 200px;
    font-size:20px;
    font-weight: 50;
}
#a-1{
    color: rgb(32, 114, 186);
    text-decoration: underline;
}
#font-6{
    margin-top: -50px;
    margin-left: 10px;
}
#button-3{
    margin-left: 10px;
    margin-top: 30px; 
    background-color: rgb(254, 186, 58);
    border: none;
    padding: 20px;
    align-items: center;
}
.font-7{
    margin-left: 820px;
    margin-top: -330px;
    font-size: 20px;
    height: 200px;
    font-size:40px;
    font-weight: 700;

}
.font-8{
    margin-left: 810px;
    margin-top: -100px;
    height: 200px;
    font-size:20px;
    font-weight: 50;

}
#font{
    margin-left: 810px;
    margin-top: -10px;
    height: 200px;
    font-size:20px;
    font-weight: 50;
}
.font-9{
    margin-top: -130px;
    margin-left: 810px;
}
.button-4{
    margin-top: 30px;
    margin-left: 810px;
    background-color: rgb(254, 186, 58);
    border: none;
    padding: 15px;
    align-items: center;
    
}
#a-2{
    color: rgb(32, 114, 186);
    text-decoration: underline;
}
.font-9-1{
    margin-top: -80px;
    margin-left: 810px;
}
.font-8-1{
    margin-left: 810px;
    margin-top: -140px;
    height: 200px;
    font-size:20px;
    font-weight: 50;
}
#a-3{
    color: rgb(32, 114, 186);
    text-decoration: underline; 
}
.footer-container{
    
    display: flex;
    justify-content: space-around;
    margin-top: 180px;
    margin-left: 50px;
    
}
.footer-container ul{
    list-style: none;
}
li{
    padding: 5px;

}
.footer-container-2{
    
    display: flex;
    justify-content: space-around;
    padding: 50px;
    

}
.footer-container-2-1{
    margin-top: 15px;
    width: 50%;
    
   
    
}
.footer-container-2-1 img{
    padding-right: 15px;

}
hr{
   margin-left: 5%;
    width: 90%;
}

.footer-container-3 span{
    padding: 2%;
    margin: 2px;
}
#image-8{
    position: relative;
    top: 10px;
    width: 30px;
}
#footer-container-3-div{
    position: relative;
    left: 1050px;
    bottom: 3px;
    margin-left: 20px;


}
.footer-container-3{
    height: 200px;
}


    



    
    

